# General
pandas==2.2.1

# Computation
transformers==4.38.1
datasets==2.17.1
stopwordsiso==0.6.1
emoji==2.10.1                 # for handling emojis in whitespace tokenizer

# Visualization
altair==5.2.0
plotly==5.19.0
geopandas==0.14.3
# "vegafusion[embed]"==1.6.5  # speed-up altair rendering
pyogrio==0.7.2                # speed-up vector-based spatial data processing
vl-convert-python==1.2.4      # required only if pdf, svg or png outputs have to be created (using altair)
kaleido==0.2.1                # required only if pdf, svg or png outputs have to be created (using plotly)