# General
setuptools<=80.6.0

# Computation
numpy>=1.26.0,<2.2.0
pandas==2.2.2,<2.3.0
transformers>=4.47.0
datasets>=3.2.0
stopwordsiso==0.6.1
emoji==2.10.1                 # for handling emojis in whitespace tokenizer

# Visualization
altair==5.2.0
plotly==5.19.0
geopandas==1.0.1
# "vegafusion[embed]"==1.6.5  # speed-up altair rendering
pyogrio>=0.7.2                # speed-up vector-based spatial data processing
vl-convert-python==1.2.4      # required only if pdf, svg or png outputs have to be created (using altair)
kaleido==0.2.1                # required only if pdf, svg or png outputs have to be created (using plotly)

# for the documentation theme
sphinx-rtd-theme==1.2.2

# for ipython
jedi>=0.16